<extend name="./Application/Home/View/base.html"/>
<block name="sidebar">
</block>
<block name="navbar">
</block>
<block name="body">
    <div class="col s10">
        <h2 class="center-align">选手登陆</h2>
    </div>
    <br/>
    <div class="row">
        <form class="container" action="<?=U('home/login/login')?>" enctype="multipart/form-data" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input id="user_mobile" name="user_mobile" type="text" class="validate">
              <label for="user_mobile">手机号码</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="user_password" name="user_password" type="password" class="validate">
              <label for="user_password">密码</label>
            </div>
          </div>
          <div class="row">
             <div class="input_field col s6">
                <p>
                        <input type="checkbox" id="remember" name='remember'/>
                        <label for="remember">记住登录</label>
                </p>
             </div>
             <button class="btn waves-effect waves-light col s6" type="submit" name="action">提交
            </button>
            </div>
        </form>
      </div>
</block>
<block name="customJS">
    <script type="text/javascript">
        <?php if(isset($errorMsg)){?>
            $(function(){
                Materialize.toast('<?=$errorMsg?>', 6000)
            });
        <?php }?>
    </script>
</block>
<block name="navJS">
</block>