<extend name="./Application/User/View/base.html"/>
<block name="body">
    <div class="col s10">
        <h2 class="center-align">更改密码</h2>
    </div>
    <br/>
    <div class="row">
        <form class="container" action="<?=U('user/password')?>" enctype="multipart/form-data" method="post">
        <p class="center-align">密码长度不得超过11位</p>
          <div class="row">
            <div class="input-field col s12">
              <input id="user_password" name="user_password" type="password" class="validate">
              <label for="user_password">原密码</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="pas1" name="new_password_1" type="password" class="validate">
              <label for="pas1">新密码</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="pas2" name="new_password_2" type="password" class="validate">
              <label for="pas2">重复密码</label>
            </div>
          </div>
          <div class="row">
             <button class="btn waves-effect waves-light col s12" type="submit" name="action">提交
            </button>
            </div>
        </form>
      </div>
</block>
<block name="customJS">
<?php if(isset($errorMsg)){?>
    <script type="text/javascript">
        
            $(function(){
                Materialize.toast('<?=$errorMsg?>', 6000)
            });
    </script>
        <?php }?>
</block>