<extend name="./Application/User/View/base.html"/>
<block name="sidebar">
</block>
<block name="navbar">
</block>
<block name="body">
	<br/>
		<div class="container">
			<?=html_entity_decode($content['news_content'])?>
		</div>
	<br/>
	<form class="container" action="<?=U('index/instruction')?>" enctype="multipart/form-data" method="post">
		<div class="row">
		   <div class="input_field col s6">
		      <p>
		              <input type="checkbox" id="agree" name='agree'/>
		              <label for="agree">我同意以上条款</label>
		      </p>
		   </div>
		   <button class="btn waves-effect waves-light col s6" type="submit">提交
		  </button>
		  </div>
	</form>
</block>